<h1>Cart</h1>
<% if @cart.empty? %>
  <p>Your cart is empty!</p>
<% else %>
  <%= render partial: 'carts/cart', locals: {cart: @cart} %>
  <p>
  Total price:
  <%= @cart.total_price %>
  </p>

  <%= link_to "Order", new_order_path %>
<% end %>
